.table-view th.header::after {
  padding-left:8px;
  content: "\f0dc";
  font-family: FontAwesome;
}

.table-view th.headerSortDown::after { 
  padding-left:8px;
  content: "\f0de";
  font-family: FontAwesome;
} 

.table-view th.headerSortUp::after { 
  padding-left:8px;
  content: "\f0dd";
  font-family: FontAwesome;
} 