*.bak
.idea/
data/users.sqlite
data/data.sqlite
data/master/
data/pharmgkb/
html/sessions/
html/static/genedive/json/*.json
html/static/genedive/json/*.zip

# Just in case we put new files containing sensitive data in the future
*.sqlite
*.tsv
*.csv
*.zip