.graph-view {
  position: relative;
  overflow: hidden;
}

.graph-view #graph {
  width:100%;
  height:100%;
  opacity: 0;
}

.graph-view .legend {
  position: absolute;
  width:300px;
  padding: 12px;
  display: none;
  text-align: right;
  right: 0;
  top: 0;
}

.graph-view .absent {
  position: absolute;
  display: flex;
  background-color:rgb(230,230,230);
  border-radius: 4px;
  margin: 0 0 12px 12px;
  padding:8px 12px;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  z-index: 20;
  cursor: pointer;
}

.graph-view .absent:hover {
  background-color:rgb(170,170,170);
}

.absent-gene-message {
  height: 12.5em;
  overflow-y: scroll;
}

.absent-gene-message .absent-name {
  padding-left: 2em;
}
