/* search.css */
body {
  font-family: "Open Sans", sans-serif;
}

/* Core View Units */
.main-display {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.control-view {
  display:flex;
  flex-direction: column;
  width: 350px;
  min-width: 350px;
  z-index: 20;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right:2px solid gray;
  box-shadow: 1px 0px 1px 0px rgba(128,128,128,0.75);
  background-color: rgb(247,247,247);
}

.views {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

.table-view {
  border-bottom:1px solid gray;
  overflow-y: auto;
  height: 50%;
  min-width: 0px;
  /* resize: vertical; */
}

th.rotate {
  height: 90px;
  white-space: nowrap;
  transform: rotate( 330deg );
}

.graph-view {
  height: 100%;
}


.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 10px;
  background: url(images/hsizegrip.png) center center no-repeat #ccc;
  cursor: row-resize;
}

.panel-bottom {
  /*flex: 1 1 auto;*/
  flex-grow: 1;
  /* resizable */
}

h5 {
  margin-top:6px;
  color: rgb(90,90,90);
  font-size: 1.1em;
}

/* Control View Units */

.titlebar {
  background-color: rgb(230,230,230);
  padding:8px 0 0 0;
  font-size: 2em;
  text-align: center;
}

.titlebar a {
  text-decoration: none;
  color:rgb(128,128,128);
}

.titlebar span.version{
  font-size: 14pt;
  color: #999;
}

.titlebar span.subtitle{
  font-size: 14pt;
  color: #666;
  margin: 8px;
  display: block;
}
.titlebar a:hover {
  text-decoration: none;
}

.titlebar .account.dropdown {
  height: 0;
  position: relative;
  top: -48px;
  left: 124px;
}

.titlebar .account.dropdown hr { margin: 4px 0 4px 0; }
.titlebar .account.dropdown .dropdown-item { padding: 4px 8px 4px 8px; }
.titlebar .account.dropdown .dropdown-menu { top: 40px; left: 60px; }

.titlebar .dropdown .btn-link { color: #666; }
.titlebar .dropdown .btn-link:hover { color: #333; }

.titlebar .menu.dropdown {
  height: 0;
  position: relative;
  top: -48px;
  left: -124px;
}

.titlebar .menu.dropdown .dropdown-item { padding: 4px 8px 4px 8px; }
.titlebar .menu.dropdown .dropdown-menu { top: 40px; left: 124px; }

.module {
  padding: 6px 18px;
}

.probability-module{
  display: none;
}

.filter-module {
  /*visibility: hidden;*/
  display:none;
}

.highlight-module {
  /*visibility: hidden;*/
  display:none;
}

.grouper-module {
  /*visibility: hidden;*/
  display:none;
}

.module .title {
  background-color:transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*.module .title i {
  padding-right:1em;
  color:rgb(128,128,128);
}*/

.module-help {
  cursor:pointer;
}

.about-module {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom:8px;
}

.divider {
  width:100%;
  border-bottom:1px solid rgb(220,220,220);
  visibility: hidden;
}

/* Rendering */

.spinner {
  display: flex;
  width: 100%;
  height:100%;
  font-size: 4em;
  color:#888888;
  align-items: center;
  justify-content: center;
}

.spinner div {
  display: block;
}

.help {
  width:100%;
  padding:10px;
  z-index: 40;
}

.help h3 {
  text-align: center;
}

.no-results {
  display: none;
  width: 100%;
  padding-top:40px;
}

.no-results h3 {
  text-align: center;
}

/* Highlight Options */
.highlight-module .highlight-setting .highlightOption {
  margin-left:7px;
}

.highlight-module .highlight-setting .highlightOption  span {
  padding:7px 7px;
}

.highlight-module .highlight-setting .btn{
  background-color: transparent;
}

.form-check-label {
  font-weight: 500;
}

/* Help Sections */
.help .modes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.help .modes .mode {
  flex-basis: 300px;
  flex-shrink: 1;
  margin: 0 2em;
  padding: 0.5em;
  /* border:1px solid rgb(220,220,220); */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}

.table-view .help .modes .mode {
  flex-grow:1;
}

.help .modes .mode h4 {
  text-align: center;
}

.help .modes .mode i {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  color:rgb(128,128,128);
}

.help .dgr-blue{
  color: #47abfa;
}

.help .dgr-orange{
  color: #fd7e14;
}


/* Typeahead listbox */
.tt-menu {
  max-height: 400px;
  overflow-y: auto;
}


/* Some styling from Bootstrap 4 */
.btn:focus {outline:0 !important;}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}


.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-warning {
  color: #9c7500;
  background-color: transparent;
  background-image: none;
  border-color: #9c7500;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
