#results {
    margin-bottom:20px;
}

#interactions-table td {
    padding-top:8px;
    padding-bottom:8px;
    font-size:0.8em;
}


#interactions-table td:first-child {
    font-size:1.3em;
    font-weight:bold;
    text-align: center;
}

.table-gene-tag {
    display:inline-block;
    color:white;
    margin:2px 0px;
    border-radius:2px;
    padding:2px 5px;
    opacity:0.8;
}

#interactions-table thead th {
    font-size:1em;
    color:rgb(120,120,120);
}

#interactions-table thead th.active {
    background-color:white;
    font-size:1em;
    color:#337ab7;
}

.row-expansion {
    /* background-color:#eff5fb; */
}

.highlight-row {
    background-color:#ffd9d9;
}



td.row-expandable {
    cursor: pointer;
}

#interactions-table .collapsed {
    background-color:white;
    color:#70a7d7;
}


#interactions-table .expanded {
    background-color:#70a7d7;
    color:white;
}

.row-expansion td:first-child {
    background-color:#70a7d7;
}

.group-by-controls {
    display: flex;
    flex-direction: column;
}

.results-counter {
    text-align: right;
    font-size:1.5em;
    color:rgb(120,120,120);
}

/* tablesorter */

#interactions-table .header {
    cursor: pointer;
}

#interactions-table .headerSortUp::before {
    display: block;
    content:' DESC ';
    font-size:8px;
}

#interactions-table .headerSortDown::before {
    display:block;
    content:' ASC ';
    font-size:8px;
}

/* HISTOGRAM */

.bars rect {
    fill: steelblue;
}
.axis path, .axis line {
  fill: none;
  stroke: rgb(200,200,200);
  shape-rendering: crispEdges;
}

.tick text {
    display: none;
}

.histogram svg {
    overflow:visible;
}

.histogram .x .tick:nth-child(2n) {
    display:none;
}

.highlight {
    background-color:rgb(255,255,0);
}