.table-view .messaging-and-controls {
  width: 100%;
  padding: 8px 0;
}

.table-view .messaging-and-controls .metadata {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.table-view .messaging-and-controls .metadata .count,
.table-view .messaging-and-controls .metadata .groups {
  font-weight: bold;
  color: #337ab7;
  padding:0 0.5em;
}

.table-view .results {
  display: flex;
  flex-direction: column;
  background-color: rgb(245,245,245);
}

.table-view .results .group-card {
  background-color: #fefefa;
  border-radius:4px;
  display: grid;
  padding:0 10px;
  grid-template-columns: 70% 30%;
  grid-template-rows: minmax(24px,auto) minmax(45px,auto) minmax(24px,auto) minmax(0,auto);
  grid-template-areas: "title count"
                       "excerpt histogram"
                       "excerpt probs"
                       "detail detail";
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin:8px 14px;
}

.table-view .results .highlight {
  border:2px solid red;
}

.table-view .results .group-card p {
  margin-bottom: 0;
}

.table-view .results .group-card .group-title {
  grid-area: title;
}

.table-view .results.group-card .group-title h4 {
  margin:2px;
}

.table-view .results .group-card .count {
  grid-area: count;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: #aaaaaa;
}

.table-view .results .group-card .count .interactions {
  font-weight: bold;
  color: #337ab7;
}

.table-view .results .group-card .excerpt {
  grid-area: excerpt;
  padding: 12px;
}

.table-view .results .group-card .histogram {
  grid-area: histogram;
  display: flex;
  flex-direction: flex-end;
  align-items: flex-end;
}

.table-view .results .group-card .probs {
  grid-area: probs;
  display:flex;
  justify-content: space-around;
  padding: 12px 0;
}

.table-view .results .group-card .probs .min-tag,
.table-view .results .group-card .probs .max-tag {
  font-weight: bold;
  padding-right: 1em;
}

/* DETAIL VIEWS */

.table-view .results .group-card .detail {
  grid-area: detail;
  border-top: 2px solid rgb(128,128,128);
}

.table-view .results .group-card .detail .detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid rgb(220,220,220);
  margin-bottom:7px;
  padding: 8px;
}

.table-view .results .group-card .detail .highlight {
  border:0;
  background-color: #ffe5e5;
}

.table-view .results .group-card .detail .detail-row .excerpt {
  padding: 0;
  width: 75%;
}

.table-view .results .group-card .detail .detail-row .probability {

} 

.table-view .results .group-card .detail .detail-row .pubmed {

} 

/* D3 Histogram */

.bars rect {
    fill: gray;
}
.axis path, .axis line {
  fill: none;
  stroke: rgb(200,200,200);
  shape-rendering: crispEdges;
}

.histogram svg {
    overflow:visible;
}

.tick text {
    display: none;
}