/* Before moving to navbar */

#search-form-gene .btn {
    padding:13px 20px;
}

#search-controls-container {
    margin-top:20px;
    margin-bottom:12px;
}

.bootstrap-tagsinput {
    width:100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding:12px 5px;

}


/* After moving to navbar */
nav #search-form-gene {
    margin-bottom:0px;
}

nav #search-form-gene .input-group {
    width:800px;
}

nav .bootstrap-tagsinput {
    padding:6px 5px;  
}

nav #search-form-gene .btn {
    padding:7px 20px;
}

/* Other stuff */

.bootstrap-tagsinput .tag {
	font-size:16px;
}

.twitter-typeahead {
	display:inline !important;
}

.tt-hint {
	display:none !important;
}

.tt-menu {
	margin-top:24px;
	background-color:white;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	padding:4px 70px 4px 4px;
	border-radius:3px;
  z-index:100;
}

.tt-input {
	width: 240px !important;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px 3px 5px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}

.tt-set-header {
	color:#de795b;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  text-decoration: none;
  outline: 0;
  color:#5bc0de;
}

.special-search {
  display:flex;
  padding:8px 8px 8px 16px;
}


.disambiguation-form div {
  padding:0.5em 0em;
}

.disambiguation-form div span {
  padding-left:15px;
}