.upload_file{
}

.upload_file #holder{
    border: 2px dashed #ccc;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    border-radius: 20px;
    position: relative;
}

.upload_file #holder i{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    color: #ababab;
}

.zip_icon{
    height: 25pt;
    margin-left: 21px;
}

.filename{
    font-family: monospace;
    display: block;
}
