/* index.css */
.landing {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/static/genedive/images/graph6.png");
  background-position: center center;
  background-size: 1200px;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1024px) {
  .landing {
    background-position: center center;
    background-size: cover;
  }
}

.landing .strip {
  position: relative;
  padding: 40px 0;
  display: flex;
  width: 100%;
  background-color: rgba(60,60,60,1);
  display: flex;
  justify-content: space-around;
  z-index: 30;
}

.landing .strip .about {
  color: white;
  width: 40%;
}

.landing .strip .login {
  color: white;
  width: 30%;
}

.landing .strip .about h4 {
  color: #68c7ff;
}

.landing .strip .about p {
  font-size: 1em;
}

/* For Narrow / Mobile */
@media (max-width: 1024px) {
  .landing .strip {
    flex-direction: column;
    align-items: center;
  }

  .landing .strip .about, .landing .strip .login {
    width: 80%;
  }

  .landing .strip .login {
    margin-top: 30px;
  }
}

.login .actions * {
  margin-right: 14px;
}

.landing .footer {
  position: absolute;
  bottom: 12px;
}

.landing .footer a {
  margin: 0 12px;
}