/* search.css */
body {
  font-family: "Open Sans", sans-serif;
}

/* Core View Units */
.main-display {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.control-view {
  display:flex;
  flex-direction: column;
  width: 350px;
  min-width: 350px;
  z-index: 20;
  overflow-y: scroll;
  border-right:2px solid gray;
  box-shadow: 1px 0px 1px 0px rgba(128,128,128,0.75);
  background-color: rgb(247,247,247);
}

.views {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

.table-view {
  border-bottom:1px solid gray;
  overflow-y: auto;
  height: 50%;
  min-width: 0px;
  /* resize: vertical; */
}

.graph-view {
  height: 100%;
}


.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 10px;
  background: url(images/hsizegrip.png) center center no-repeat #ccc;
  cursor: row-resize;
}

.panel-bottom {
  /*flex: 1 1 auto;*/
  flex-grow: 1;
  /* resizable */
}

h5 {
  margin-top:6px;
  color: rgb(90,90,90);
  font-size: 1.1em;
}

/* Control View Units */

.titlebar {
  background-color: rgb(230,230,230);
  padding:8px 0 0 0;
  font-size: 2em;
  text-align: center;
}

.titlebar a {
  text-decoration: none;
  color:rgb(128,128,128);
}

.titlebar a:hover {
  text-decoration: none;
}

.module {
  padding: 24px 18px;
}

.filter-module {
  visibility: hidden;
}

.highlight-module {
  visibility: hidden;
}

.grouper-module {
  visibility: hidden;
}

.download-module {
  visibility: hidden;
  text-align: center;
  flex-grow: 1;
}

.module .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.module .title span {
  color:rgb(128,128,128);
}

.module .title i {
  padding-right:1em;
  color:rgb(128,128,128);
}

.module-help {
  cursor:pointer;
}

.about-module {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom:8px;
}

.divider {
  width:100%;
  border-bottom:1px solid rgb(220,220,220);
  visibility: hidden;
}

/* Rendering */

.spinner {
  display: none;
  width: 100%;
  height:100%;
  font-size: 4em;
  color:#888888;
  align-items: center;
  justify-content: center;
}

.spinner div {
  display: block;
}

.help {
  width:100%;
  padding:10px;
  z-index: 40;
}

.help h3 {
  text-align: center;
}

.no-results {
  display: none;
  width: 100%;
  padding-top:40px;
}

.no-results h3 {
  text-align: center;
}

/* Help Sections */
.help .modes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.help .modes .mode {
  flex-basis: 300px;
  flex-shrink: 1;
  margin: 0 2em;
  padding: 0.5em;
  /* border:1px solid rgb(220,220,220); */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}

.table-view .help .modes .mode {
  flex-grow:1;
}

.help .modes .mode h4 {
  text-align: center;
}

.help .modes .mode i {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  color:rgb(128,128,128);
}

/* Typeahead listbox */
.tt-menu {
  max-height: 400px;
  overflow-y: auto;
}
