/* search.css */

/* Core View Units */
.main-display {
  display: grid;
  position:fixed;
  padding:0;
  grid-template-columns:20% 80%;
  grid-template-rows:40% 60%;
  width:100%;
  height:100%;
  left:0;
  top:0;
  font-family: "Roboto", sans-serif;
}

.control-view {
  display:flex;
  flex-direction: column;
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:3;
  background-color:rgb(240,240,240);
  box-shadow: 2px 0px 2px 0px rgba(128,128,128,0.75);
  z-index: 20;
  overflow-y: scroll;
}

.table-view {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
  border-bottom:1px solid gray;

  overflow-y: scroll;
}

.graph-view {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;

}

.table-view, .graph-view {
  display:flex;
  flex-direction: column;
}

.titlebar {
  padding: 6px 4px;
  text-align: center;
  font-size:16px;
  color:rgb(128,128,128);
}

h5, h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color:rgb(60,60,60);
}

h5 {
  margin-top:0px;
  font-size: 14px;
  color:rgb(128,128,128);
}

h6 {
  margin:0px;
  padding:6px 0;
}


/* Control View Units */

.module {
  padding: 24px 16px;
}

.highlight-module {

}

.grouper-module {
  flex-grow: 1;
}

.module .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.module .title span {
  color:rgb(128,128,128);
}

.module .title i {
  padding-right:1em;
  color:rgb(128,128,128);
}

.module-help {
  cursor:pointer;
}

.divider {
  width:100%;
  margin:14px 0px;
  border-bottom:1px solid rgb(220,220,220);
}

/* Rendering */

.rendering-results {
  width: 100%;
  padding-top:20px;
  font-size: 4em;
  color:#bbbbbb;
  text-align:center;
  display: none;
}