/* search.css */

/* Core View Units */
.main-display {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.control-view {
  display:flex;
  flex-direction: column;
  width: 350px;
  min-width: 350px;
  z-index: 20;
  overflow-y: scroll;
  border-right:2px solid gray;
  box-shadow: 1px 0px 1px 0px rgba(128,128,128,0.75);
  background-color: rgb(247,247,247);
}

.table-graph-holder {
  flex-direction: column;
  flex-grow: 1;
}

.table-view {
  border-bottom:1px solid gray;
  overflow-y: scroll;
  height: 50%;
  resize: vertical;
}

.graph-view {
  height:50%;
}

.titlebar {
  padding: 6px 4px;
  text-align: center;
  font-size:16px;
  color:rgb(128,128,128);
}

h5 {
  margin-top:6px;
  color: rgb(90,90,90);
}

/* Control View Units */

.titlebar {
  background-color: rgb(230,230,230);
  padding:8px 0 0 0;
  font-size: 2em;
}

.titlebar a {
  text-decoration: none;
  color: rgb(90,90,90);
}

.titlebar a:hover {
  text-decoration: none;
}

.module {
  padding: 24px 18px;
}

.filter-module {
  visibility: hidden;
}

.highlight-module {
  visibility: hidden;
}

.grouper-module {
  visibility: hidden;
}

.download-module {
  visibility: hidden;
  text-align: center;
  flex-grow: 1;
}

.module .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.module .title span {
  color:rgb(128,128,128);
}

.module .title i {
  padding-right:1em;
  color:rgb(128,128,128);
}

.module-help {
  cursor:pointer;
}

.divider {
  width:100%;
  border-bottom:1px solid rgb(220,220,220);
  visibility: hidden;
}

/* Rendering */

.spinner {
  display: none;
  width: 100%;
  height:100%;
  font-size: 4em;
  color:#888888;
  align-items: center;
  justify-content: center;
}

.spinner div {
  display: block;
}

.help {
  width:100%;
}

.no-results {
  display: none;
}