#filter-nav {
    background-color: rgb(247,247,247);
    height:125px;
    top:54px;
    box-shadow: 0 1px 1px 0px rgba(180,180,180,0.3);
    padding:6px;
    z-index: 80;
}


.add-filter {
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
}


.add-filter .dropdowns {
    display: flex;
    width:100%;
}

.add-filter .dropdowns .filter-attribute,.filter-operator {
    flex-basis: content;
    flex-grow: 1;
}

.add-filter .dropdowns .filter-attribute {
    margin-right:4px;
}

.filter-hide-show {
    padding-top:16px;
    padding-left:8px;
    color:rgb(120,120,120);
    cursor: pointer;
}

.filter-hide-show:hover {
    color:rgb(80,80,80);
}

.filter-display {
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    background-color:white;
    padding:4px 4px;
    border-radius:4px;
    margin:4px;
}

.filter-item .remove {
    color:rgb(255,122,122);
    cursor:pointer;
}

.filter-item .value {
    font-style: italic;
}

.filter-item span { 
    padding:4px;
}

.graph-searches {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.graph-searches button {
    font-size: 0.8em;
    font-weight: bold;
    white-space: normal;
}

#gs-clique {
    background: url('/static/genedive/images/genedive-modes.clique-search.png') center right 5px no-repeat;
    background-color:white;
    background-size: contain;
}

#gs-one-hop {
    background: url('/static/genedive/images/genedive-modes.1-hop.png') center right 5px no-repeat;
    background-color:white;
    background-size: contain;
}

#gs-one-hop-friends {
    background: url('/static/genedive/images/genedive-modes.1-hop-friends.png')center right 5px no-repeat;
    background-color:white;
    background-size: contain;
}

#gs-one-hop-bridges {
    background: url('/static/genedive/images/genedive-modes.1-hop-bridges.png') center right 5px no-repeat;
    background-color:white;
    background-size: contain;
}