/* TABLE */
#table-wrapper{
    overflow:auto;
    overflow-x = scroll;
    width:100%;
}

table td{
    word-wrap:break-word;
    width:70px;
}

.table-view{
    overflow-x:scroll;
    width:1000px;
}

/*.table-view .table{
    table-layout:auto;
    /*width: 1000px;
    width:100%;*/
    /*width:auto;*/
    /*white-space:nowrap;*/
/*}
.table-view {
    /*display:block;
    width: 1000px;
    /*width:100%;*/
    /*table-layout: fixed;*/

    /*overflow:auto;
    /*table-layout: fixed;
    word-wrap:break-word;
}*/

.table-view .table tr.grouped {
    cursor: pointer;
}

.table-view .table .tr.grouped:hover {
    background-color: rgb(220, 220, 220);
}

.table-view .table tr .gene {
    padding: 4px;
    /*margin 10px;*/
}

.table-view .table th {
    font-weight: bold;
    color: rgb(60, 60, 60);
    text-align: left;
    /*white-space: nowrap;*/
 /*word-wrap:break-word;*/
    padding: 6px 14px;

}

.table th{
	height: 50px;
	width:auto;
	white-space: nowrap;
}

.topbar {
    background-color: black;
}

.table-view .table td {
    color: rgb(40, 40, 40);
    text-align: left;
    padding: 6px 14px;
    max-width:150px;
    width:auto;
    min-width:50px;
}

.table-view .table .numeric {
    text-align: right;
}

.table-view .table .highlight-row td {
    background-color: #99e9f2;
}

.table-view .table tr td.zoom {
    color: rgb(128, 128, 128);
}

.table-view .table i {
    color: #337ab7;
}

/* D3 Histogram */

.bars rect {
    fill: gray;
}

.axis path, .axis line {
    fill: none;
    stroke: rgb(200, 200, 200);
    shape-rendering: crispEdges;
}

.histogram svg {
    overflow: visible;
}

.histogram .tick text {
    display: none;
}

.distribution .tick text, .bar text {
font-size: 10px;
}
/* Table Messaging and Controls */

.table-view .messaging-and-controls {
    height: 26px;
    background-color: #CCCCCC;
    padding: 6px 0px;
    display:  none;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.messaging-and-controls{
    position: fixed;
    width:1000px;

}

.table-view .messaging-and-controls .go-back {
    float: left;
    margin-left: 1em;
}

.table-view .messaging-and-controls .metadata {
    float: right;
    margin-right: 1em;
}

.table-view .messaging-and-controls .metadata .figure {
    color: #337ab7;
}

td.embiggen {
    display: flex;
    align-items: center;
}

.messaging-and-controls {
    display: none;
}

.pubmedLink {
    /*text-decoration: none !important;*/
    color: rgb(77, 173, 247) !important;
}

a.pubmedLink:hover i {
    color: #f57c00;
}

a.pharmgkb-excerpt-link{

}

