/* TABLE */
#table-wrapper{
    overflow-x = scroll;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    width:100%
  
}

table td{
    word-wrap:break-word;
}

/*.table-wrapper{ */
    /*width:100%;*/
    /*table-layout:fixed;*/
    /*overflow-x:auto;*/
    /*white-space:nowrap;*/
/*}*/
.table-view {
    /*width: 100%;*/
    width:1000px;
    table-layout: fixed;
    word-wrap:break-word;
    /*word-break:break-all;*/
    /*overflow: hidden;
    overflow-x: visible !important;*/
    /*display: block;
    white-space: nowrap;*/
}

.table-view .table tr.grouped {
    cursor: pointer;
}

.table-view .table .tr.grouped:hover {
    background-color: rgb(220, 220, 220);
}

.table-view .table tr .gene {
    padding: 4px;
    margin 10px;
}

.table-view .table th {
    font-weight: bold;
    color: rgb(60, 60, 60);
    text-align: left;
    white-space: nowrap;
    padding: 6px 14px;

}

.topbar {
    background-color: black;
}

.table-view .table td {
    color: rgb(40, 40, 40);
    text-align: left;
    padding: 6px 14px;
}

.table-view .table .numeric {
    text-align: right;
}

.table-view .table .highlight-row td {
    background-color: #99e9f2;
}

.table-view .table tr td.zoom {
    color: rgb(128, 128, 128);
}

.table-view .table i {
    color: #337ab7;
}

/* D3 Histogram */

.bars rect {
    fill: gray;
}

.axis path, .axis line {
    fill: none;
    stroke: rgb(200, 200, 200);
    shape-rendering: crispEdges;
}

.histogram svg {
    overflow: visible;
}

.tick text {
    display: none;
}

/* Table Messaging and Controls */

.table-view .messaging-and-controls {
    height: 26px;
    background-color: #CCCCCC;
    padding: 6px 0px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.table-view .messaging-and-controls .go-back {
    float: left;
    color: #d84b2b;
    visibility: hidden;
    margin-left: 1em;
    cursor: pointer;
}

.table-view .messaging-and-controls .metadata {
    float: right;
    margin-right: 1em;
}

.table-view .messaging-and-controls .metadata .figure {
    color: #337ab7;
}

td.embiggen {
    display: flex;
    align-items: center;
}

.messaging-and-controls {
    display: none;
}

.pubmedLink {
    text-decoration: none !important;
}

a.pubmedLink:hover i {
    color: #f57c00;
}

a.pharmgkb-excerpt-link{

}
