.search-module {
  background-color: rgb(230,230,230);
  border-bottom: 1px solid rgb(200,200,200);
  padding-top: 2px;
}

.search-module .search-item {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top:7px;
  padding:7px 14px;
  background-color:rgb(210,210,210);
  border-radius:3px;
}

.search-module .search-item .name {
  font-weight: bold;
  flex-grow: 1;
}

.search-module .search-item .linkout {
  color: white;
  margin-right:18px;
  display: inline-block;
}

.search-module .search-item .linkout:hover {
  color: green;
  cursor:pointer;
}

.search-module .search-item .linkout:focus {
  outline:none;
  outline-offset:0;
  text-decoration: none;
}

.search-module .search-item .linkout svg {
  height: 15px;
  width: auto;
  pointer-events: none;
}

.search-module .search-item .linkout svg path{
  fill: white;
}


.search-module .search-item .linkout:hover svg path{
  fill: #008000;

}

.search-module .search-item .remove:hover {
  color:#920907;
  cursor: pointer;
}



/* Typeahead Styling */

.search-module .tt-menu {
  margin-top: 7px;
  padding:7px;
  background-color:white;
  border:1px solid #ccc;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(128,128,128,0.5);
}

.search-module .tt-menu .tt-suggestion {
  padding:3px;
}

.search-module .tt-menu .tt-cursor {
  background-color: rgb(230,230,230);
}

.topology-row {
  display: flex;
  flex-direction: row;
  padding-bottom:7px;
  justify-content: center;
}

.topology-row h6 {
  padding-right:7px;
}

.topology-selector button {
  font-size:12px;
}

/* Disambiguation Form */

.disambiguation-row {
  width: 100%;
}

.disambiguation-row input {
}

.disambiguation-row .symbol {
  display:inline-block;
  padding-left: 18px;
  width: 45%;
}

.disambiguation-row a:hover{
  text-decoration: none;
}

.disambiguation-row .name {
}

.disambiguation-row svg{
  height: 1em;
  width: 1em;
}

.disambiguation-row svg path{
  fill: #78a7cf;
}

.disambiguation-row a:hover svg path {
  fill: #23527c;
}

.loading-container{
  text-align:center;
}

.loading-info{
  font-size: 0.5em;
}